
<div class="" *ngFor="let employee of employees.data">
    <div class="">
  <div class="col-md-3" style="width: 290px;">
  <div class="card">
    <img [src]="employee.avatar" alt="John" style="width:100%">
    <h1>{{employee.first_name}} {{employee.last_name}}</h1>
    <p class="title">Pune </p>
    <p>Harvard University</p>
    <a href="#"><i class="fa fa-dribbble"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
    <p><button>Contact</button></p>
  </div>
  </div>
</div>
</div>
<table>
  <tr>
    <td style="width:900px;height:90%"><canvas id="LineChart"></canvas></td>
    <td style="width:900px;height:80%"><canvas id="Barchart"></canvas></td>
  </tr>
</table>
